@page "{id}"
@model Boletaje.Pages.Movimientos.ObservarModel
@{
    ViewData["Title"] = "Observar Movimiento";
}
@section breadcrumb {

    <li class="breadcrumb-item">
        <a asp-page="./Index">BackOffice</a>
    </li>
    <li class="breadcrumb-item active">
        <a>Observar Movimiento</a>
    </li>

}
@using Newtonsoft.Json;
@section styles {
    <style>
        .input {
            width: 40%;
        }

        .input2 {
            width: 70%;
        }
    </style>

}
@section scripts {


    <script>
        var Detalles = [];
        var Errores = [];
        $(document).ready(function () {

            jQuery(document).ready(function ($) {
                $(document).ready(function () {

                    var detalles = JSON.parse($("#Detalle").val());
                    Errores = JSON.parse($("#Errores").val());

                    for (var i = 0; i < detalles.length; i++) {
                        var detalle = {
                            id: detalles[i].id,
                            NumLinea: i + 1,
                            idEncabezado: 0,
                            idError: detalles[i].idError,
                            idImpuesto: detalles[i].idImpuesto,
                            ItemCode: detalles[i].ItemCode,
                            ItemName: detalles[i].ItemName,
                            PrecioUnitario: detalles[i].PrecioUnitario,
                            Cantidad: detalles[i].Cantidad,
                            PorDescuento: detalles[i].PorDescuento,
                            Descuento: detalles[i].Descuento,
                            Impuestos: detalles[i].Impuestos,
                            TotalLinea: detalles[i].TotalLinea,
                            Garantia: detalles[i].Garantia
                        };
                        Detalles.push(detalle);

                    }

                });
            });


            ModificaMoneda();
        });
        function ModificaMoneda() {
            if ($("#Moneda").val() == "COL") {
                $(".moneda").text("₡");
            } else {
                $(".moneda").text("$")
            }
        }

        function ImprimeEtiqueta(boleta, cliente) {

            var Diagnostico = "";

            var html = htmlOferta;
            html = html.replace("DocEntry", "@Model.Input.NumLlamada");
            html = html.replace("Fecha", '@Model.Input.Fecha.ToString("dd/MMMM/yyyy")');
            html = html.replace("NombreClienteR", "@Model.Input.CardName");
            html = html.replace("TelefonoCliente", "@Model.Llamada.NumeroPersonaContacto");


            Diagnostico += "@Model.Llamada.Comentarios \n";





            if ($("#Moneda").val() == "COL") {

                html = html.replace("SubtotalR", "₡" + $("#SubtotalGeneral").text());
                html = html.replace("Descuento", "₡" + $("#DescGeneral").text());

                html = html.replace("Impuestos", "₡" + $("#ImpGeneral").text());
                html = html.replace("TotalR", "₡" + $("#TotalGeneral").text());



            } else {

                html = html.replace("SubtotalR", "$" + $("#SubtotalGeneral").text());
                html = html.replace("Descuento", "$" + $("#DescGeneral").text());

                html = html.replace("Impuestos", "$" + $("#ImpGeneral").text());
                html = html.replace("TotalR", "$" + $("#TotalGeneral").text());
            }

            html = html.replace("PorDesc", $("#DescuentoPorcentar").text());

            var inyectado = "";

            for (var i = 0; i < Detalles.length; i++) {
                if (i == 0) {
                    inyectado = htmlInyectadoOferta.replace("NumLinea", (i + 1)).replace("ItemCode", Detalles[i].ItemCode).replace("ItemName", Detalles[i].ItemName).replace("Cantidad", Detalles[i].Cantidad).replace("PrecioUnitario", Detalles[i].PrecioUnitario).replace("TotalLinea", Detalles[i].TotalLinea);
                } else {
                    inyectado += htmlInyectadoOferta.replace("NumLinea", (i + 1)).replace("ItemCode", Detalles[i].ItemCode).replace("ItemName", Detalles[i].ItemName).replace("Cantidad", Detalles[i].Cantidad).replace("PrecioUnitario", Detalles[i].PrecioUnitario).replace("TotalLinea", Detalles[i].TotalLinea);

                }

                if (Errores.find(a => a.id == Detalles[i].idError) != undefined) {
                    Diagnostico += Errores.find(a => a.id == Detalles[i].idError).Diagnostico + " ";
                }
            }
            html = html.replace("Diagnosticos", Diagnostico + "\n" + $("#comentarios").val());
            html = html.replace("INYECTADO", inyectado);



            var item = html;

            var opt = {
                margin: 0,
                pagebreak: { mode: 'avoid-all', before: '#page2el' },

                image: { type: 'jpeg', quality: 0.98 },
                html2canvas: { scale: 2, logging: true, dpi: 192, letterRendering: true },
                jsPDF: { unit: 'mm', format: 'a3', orientation: 'portrait' }
            };

            //var opt = {
            //    margin: 1,
            //    pagebreak: { mode: 'avoid-all', before: '#page2el' },

            //    image: { type: 'jpeg', quality: 0.98 },
            //    html2canvas: { scale: 2 },
            //    jsPDF: { format: 'letter', orientation: 'portrait' }
            //};


            if ("@Model.Input.TipoMovimiento" == "1" || "@Model.Input.TipoMovimiento" == "3") {
                html2pdf().set(opt)
                    .from(item)
                    .save("Oferta.pdf");
            } else {
                html2pdf().set(opt)
                    .from(item)
                    .save("Entrega.pdf");
            }



        }

        function onAbrirModalDetallado() {
            try {
                $("#exampleModal").modal("show");
                $('body').removeClass('modal-open');
                $('.modal-backdrop').remove();
            } catch (e) {
                Swal.fire({
                    icon: 'error',
                    title: 'Oops...',
                    text: 'Ha ocurrido un error al intentar abrir el modal ' + e

                })
            }
        }
    </script>
}
@using System.Globalization;
@{
    NumberFormatInfo formato = new CultureInfo("en-US").NumberFormat;
    formato.CurrencyGroupSeparator = ",";
    formato.NumberDecimalSeparator = ".";


}
@using System.Globalization;
@using Microsoft.AspNetCore.Http
@using System;
@using System.Collections.Generic;
@using System.IO;
@using System.Linq;
@using System.Security.Claims;
@using System.Threading.Tasks;
@using Microsoft.AspNetCore.Mvc;
@using Microsoft.AspNetCore.Mvc.RazorPages;
@using Microsoft.Extensions.Configuration;
@using Refit;
@inject IHttpContextAccessor httpContextAccessor
@using Newtonsoft.Json;
@{
    var Roles = ((ClaimsIdentity)User.Identity).Claims.Where(d => d.Type == "Roles").Select(s1 => s1.Value).FirstOrDefault().Split("|");
}
@if (!string.IsNullOrEmpty(Roles.Where(a => a == "56").FirstOrDefault()) && (Model.Input.TipoMovimiento == 1 || Model.Input.TipoMovimiento == 3))
{
    <div class="row">
        <div class="col-md-12">
            <div class="card">
                <div class="card-header">
                    <div class="row">
                        <div class="col-sm-6">
                            <h5 class="title">Histórico de Llamada</h5>
                        </div>

                        <div class="col-sm-6" style="text-align: right">
                        </div>
                    </div>


                </div>
                <div class="card-body">
                    <div class="row">
                        <div class="col-md-4">
                            <div class="form-group">
                                <label># Factura de Venta:</label>
                                <input type="text" class="form-control form-control-lg" id="cardcode1" asp-for="Historico.Historico.FirstOrDefault().Factura" readonly>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fecha de Venta:</label>
                                <input class="form-control form-control-lg" id="cardcode1" asp-for="Historico.Historico.FirstOrDefault().Fecha_Factura" readonly>

                            </div>
                        </div>

                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Inversión en Reparaciones:</label>
                                <br>
                                <label><b>@Model.Historico.Historico.FirstOrDefault().Total_Revisiones.ToString("N", formato)</b></label>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Fecha Ult. Revisión:</label>
                                <input class="form-control form-control-lg" id="cardcode1" asp-for="Historico.Historico.FirstOrDefault().fecha_Ultima_Rev" readonly>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Total de Revisiones:</label>
                                <input class="form-control form-control-lg" id="cardcode1" asp-for="Historico.Historico.FirstOrDefault().Cantidad_Revisiones" readonly>

                            </div>
                        </div>
                        <div class="col-md-4">
                            <div class="form-group">
                                <label>Horas Actuales:</label>
                                <input class="form-control form-control-lg" id="cardcode1" asp-for="Historico.Historico.FirstOrDefault().Horas" readonly>

                            </div>
                        </div>
                        @*
                    <div class="col-md-4">
                    <div class="form-group">
                    <label>Ult. Técnico:</label>
                    <input class="form-control form-control-lg" id="cardcode1" asp-for="Historico.Historico.FirstOrDefault().Ultimo_Tecnico" readonly>

                    </div>
                    </div>*@
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Observaciones Ult. Reparación:</label>
                                <textarea class="form-control form-control-lg" asp-for="Historico.Historico.FirstOrDefault().Obse_Ultima_Repara" readonly> </textarea>

                            </div>
                            <a href="#" onclick="javascript: onAbrirModalDetallado() ">Ver más detallado</a>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label>Comentarios Llamada:</label>
                                <textarea class="form-control form-control-lg" asp-for="Llamada.Comentarios" readonly> </textarea>

                            </div> 
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="modal" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog modal-lg" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="exampleModalLabel">Histórico Llamada Detallado</h5>

                </div>
                <div class="modal-body">
                    @{
                        var ii = 0;
                    }
                    <div style=" overflow-y:scroll;    z-index: 5; height: 500px;">
                        <div class="panel-group" id="accordion">
                            @foreach (var item in Model.HistoricoDetallado.Historico.OrderBy(a => a.Fecha).GroupBy(a => a.Boleta))
                            {
                                ii++;
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                        <h4 class="panel-title">
                                            <a data-toggle="collapse" href="#collapse@(ii)">Boleta # @item.Key</a>
                                        </h4>
                                    </div>
                                    <div id="collapse@(ii)" class="panel-collapse collapse in">
                                        <div class="panel-body">

                                            @foreach (var item3 in item.GroupBy(a => a.DocEntryEntrega))
                                            {
                                                <table style="width: 100%;">
                                                    <thead>
                                                        <tr>
                                                            <th align="center">Orden</th>
                                                            <th align="center">Fecha</th>
                                                            <th align="center">Artículos</th>
                                                            <th align="center">Descripción</th>
                                                            <th align="center">Garantía</th>
                                                            <th align="center">Facturado</th>

                                                        </tr>
                                                    </thead>
                                                    <tbody>
                                                        <tr id="contenido(@ii)">
                                                            <td align="center">
                                                                @item3.Key
                                                            </td>
                                                            <td align="center">@item3.FirstOrDefault().Fecha.ToString("dd/MM/yyyy")</td>
                                                            <td>
                                                                <table style="width: 100%;">
                                                                    @foreach (var item2 in item3)
                                                                    {
                                                                        <tr>
                                                                            <td align="left">@item2.Articulo</td>


                                                                        </tr>
                                                                    }

                                                                </table>
                                                            </td>
                                                            <td>

                                                                <table style="width: 100%;">
                                                                    @foreach (var item2 in item3)
                                                                    {
                                                                        <tr>
                                                                            <td align="left">@item2.Descripcion</td>



                                                                        </tr>
                                                                    }

                                                                </table>
                                                            </td>

                                                            <td>

                                                                <table style="width: 100%;">
                                                                    @foreach (var item2 in item3)
                                                                    {
                                                                        <tr>
                                                                            <td align="right">@item2.Garantia.ToString("N", formato)</td>



                                                                        </tr>
                                                                    }

                                                                </table>
                                                            </td>

                                                            <td>

                                                                <table style="width: 100%;">
                                                                    @foreach (var item2 in item3)
                                                                    {
                                                                        <tr>
                                                                            <td align="right">@item2.Facturado.ToString("N", formato)</td>



                                                                        </tr>
                                                                    }

                                                                </table>
                                                            </td>

                                                        </tr>
                                                        <tr>
                                                            <td colspan="4" align="center"><b>Total Boleta</b></td>
                                                            <td align="right">@item3.Sum(a => a.Garantia).ToString("N", formato)</td>
                                                            <td align="right">@item3.Sum(a => a.Facturado).ToString("N", formato)</td>

                                                        </tr>
                                                    </tbody>
                                                </table>
                                            }



                                        </div>
                                    </div>
                                </div>

                            }
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading">
                                <h4 class="panel-title">
                                    <a data-toggle="collapse" href="#collapse0">Gran Total</a>
                                </h4>
                            </div>
                            <div id="collapse0" class="panel-collapse collapse in show">
                                <div class="panel-body">
                                    <table style="width: 100%;">
                                        <thead>
                                            <tr>
                                                <th align="center"></th>
                                                <th align="center"></th>
                                                <th align="center"></th>
                                                <th align="center"></th>
                                                <th align="center">Garantía</th>
                                                <th align="center">Facturado</th>

                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td colspan="4" style="text-align: center;"><b>Gran Total</b></td>
                                                <td style="text-align: right;">@Model.HistoricoDetallado.Historico.Sum(a => a.Garantia).ToString("N", formato)</td>
                                                <td style="text-align: right;">@Model.HistoricoDetallado.Historico.Sum(a => a.Facturado).ToString("N", formato)</td>

                                            </tr>
                                        </tbody>

                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>

                </div>
            </div>
        </div>
    </div>
}
<div class="row">
    <div class=" col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header p-4">
                <a asp-page="/Movimientos/Index" class="nav-link text-dark" style="text-decoration: underline;"><i class="fas fa-reply "></i>  Regresar</a>
                <input hidden id="Detalle" value="@JsonConvert.SerializeObject(Model.Input.Detalle)" />
                <input hidden id="Errores" value="@JsonConvert.SerializeObject(Model.Errores)" />

                <input hidden id="idGeneral" value="@Model.Input.id" />
                <input hidden id="Detalle" value="@JsonConvert.SerializeObject(Model.Input.Detalle)" />



                <div class="float-right">
                    <h3 class="mb-0">Llamada #@Model.Input.NumLlamada</h3>
                    Fecha: @Model.Input.Fecha.ToString("dd/MMMM/yyyy")
                </div>
            </div>
            <div class="card-body">
                <div class="row mb-4">
                    <div class="col-sm-6">

                        @{
                            switch (Model.Input.TipoMovimiento)
                            {
                                case 1:
                                    {
                                        <h3 class="text-dark mb-1">Oferta de Venta</h3>
                                        break;
                                    }
                                case 2:
                                    {
                                        <h3 class="text-dark mb-1">Entrega</h3>
                                        break;
                                    }
                                case 3:
                                    {
                                        <h3 class="text-dark mb-1">Cotización BackOffice</h3>
                                        break;
                                    }
                            }
                        }

                        <div>CardCode: @Model.Input.CardCode</div>
                        <div>Cliente: @Model.Input.CardName</div>
                        <div>Telefono: @Model.Llamada.NumeroPersonaContacto</div>
                        <div>Persona Contacto: @Model.Llamada.PersonaContacto</div>
                        <div>Email Persona Contacto: @Model.Llamada.EmailPersonaContacto</div>
                        @{
                            var idCond =  Model.Cliente.idCondPago ;
                        }
                        <div>Condición de Pago: @(Model.Condiciones.Where(a => a.codSAP == idCond).FirstOrDefault() == null ? "" : Model.Condiciones.Where(a => a.codSAP == idCond).FirstOrDefault().Nombre)</div>
                        <div>Técnico Encargado: @Model.Llamada.Tecnico -  @(Model.Tecnicos.FirstOrDefault() == null ? "" : Model.Tecnicos.FirstOrDefault().Nombre)</div>
                        <div>Tipo Garantía: @Model.Llamada.Garantia -  @(Model.Garantias.Where(a => a.id == Model.Llamada.Garantia).FirstOrDefault() == null ? "N/A" : Model.Garantias.Where(a => a.id == Model.Llamada.Garantia).FirstOrDefault().Nombre)</div>
                        <div class="row col-sm-4">

                            <div class="form-group">
                                <label>Moneda</label>
                                <select disabled="disabled" id="Moneda" class="form-control" asp-for="Input.Moneda" required onchange="javascript: ModificaMoneda()">
                                    <option value="COL">Colones</option>
                                    <option value="USD">Dólares</option>

                                </select>

                            </div>
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h3 class="text-dark mb-1">Información del Producto</h3>
                        <div>Cod Articulo: @Model.Llamada.ItemCode</div>
                        <div>Descripción: @Model.ProductoPadre.Nombre</div>

                        <div># Serie: @Model.Llamada.SerieFabricante</div>
                        <div>Ubicación: @Model.UbicacionProd</div>
                        <div>Factura Revisión:  
                            @if (Model.Llamada.Factura.FirstOrDefault() != null)
                            {
                                <a asp-page="/Facturas/Observar" asp-route-id="@Model.Llamada.Factura.FirstOrDefault().id" class="btn btn-rounded btn-outline-primary" title="Observar" target="_blank"> @Model.Llamada.Factura.FirstOrDefault().ConsecutivoHacienda</a>

                            }else
                            {
                                <span style="color: red;">Sin Pagar</span>
                            }

                        </div>

                    </div>
                </div>
                <div class="table-responsive-sm">
                    <table class="table table-striped">
                        <thead>
                            <tr>
                                <th class="center">#</th>
                                <th>Producto</th>
                                <th>Stock</th>
                                <th class="center">Precio Unitario</th>
                                <th class="center">Cantidad</th>
                                <th class="center">Impuestos</th>
                                <th class="center">% Descuento</th>

                                <th class="center">Descuentos</th>
                                <th class="center">Total</th>
                                <th class="center">Garantia</th>

                            </tr>
                        </thead>
                        <tbody id="tbody">
                            @{
                                int i = 1;
                            }
                            @{
                                foreach (var item in Model.Input.Detalle)
                                {
                                    <tr>

                                        <td align="center">@i</td>
                                        <td align="left" class="strong">@item.ItemCode -  @item.ItemName </td>
                                        <td align="left"><b> @(Model.Productos.Where(a => a.codSAP == item.ItemCode).FirstOrDefault() == null ? "0" : Model.Productos.Where(a => a.codSAP == item.ItemCode).FirstOrDefault().Stock.ToString("N", formato)) </b></td>
                                        <td align="right"> @decimal.Round(item.PrecioUnitario, 2).ToString("N", formato)</td>
                                        <td align="center"> @decimal.Round(item.Cantidad, 2).ToString("N", formato)</td>
                                        <td align="right"> @decimal.Round(item.Impuestos, 2).ToString("N", formato)</td>
                                        <td align="center"> @decimal.Round(item.PorDescuento, 2).ToString("N", formato) %</td>
                                        <td align="right"> @decimal.Round(item.Descuento, 2).ToString("N", formato)</td>
                                        <td align="right"> @decimal.Round(item.TotalLinea, 2).ToString("N", formato)</td>
                                        <td align="center">
                                            @if (item.Garantia)
                                            {


                                                <input class="form-check-input" disabled checked type="checkbox" style="position: unset;" />

                                                <span class="form-check-sign"></span>
                                            }
                                            else
                                            {
                                                <input class="form-check-input" disabled type="checkbox" style="position: unset;" />

                                                <span class="form-check-sign"></span>
                                            }

                                        </td>

                                    </tr>

                                    if (Model.Errores.Where(a => a.id == item.idError).FirstOrDefault() != null)
                                    {
                                        <tr>
                                            <td colspan="14"><b>Diagnóstico:</b> @Model.Errores.Where(a => a.id == item.idError).FirstOrDefault().Descripcion -> @Model.Errores.Where(a => a.id == item.idError).FirstOrDefault().Diagnostico</td>
                                        </tr>
                                    }
                                    else

                                    {
                                        <tr>
                                            <td colspan="14"><b>Diagnóstico:</b> </td>
                                        </tr>
                                    }
                                    i++;
                                }


                            }
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <div class="col-lg-4 col-sm-5">
                    </div>
                    <div class="col-lg-4 col-sm-5 ml-auto">
                        <table class="table table-clear">
                            <tbody>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Subtotal</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="SubtotalGeneral">@decimal.Round(Model.Input.Subtotal, 2).ToString("N", formato)</strong>

                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">% Descuento</strong>
                                    </td>
                                    <td align="right">
                                        <strong style="font-weight: inherit;" id="DescuentoPorcentar">@decimal.Round(Model.Input.PorDescuento, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Descuento</strong>
                                    </td>
                                    <td align="right">

                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="DescGeneral">@decimal.Round(Model.Input.Descuento, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Impuestos</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="ImpGeneral">@decimal.Round(Model.Input.Impuestos, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Redondeo</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong style="font-weight: inherit;" id="RedondeoGeneral">@decimal.Round(Model.Input.Redondeo, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left">
                                        <strong class="text-dark">Total</strong>
                                    </td>
                                    <td align="right">
                                        <span class="moneda"></span>

                                        <strong class="text-dark" id="TotalGeneral">@decimal.Round(Model.Input.TotalComprobante, 2).ToString("N", formato)</strong>
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>


                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Comentarios</label>

                        <textarea id="comentarios" maxlength="500" class="form-control" asp-for="Input.Comentarios" readonly></textarea>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>
<br />
<div class="row">
    <div class="col-xl-12 col-lg-12 col-md-12 col-sm-12 col-12">
        <div class="card">
            <div class="card-header">
                <div class="row">
                    <div class="col-md-6">
                        <h5>Listado de Actividades de la llamada # @Model.Llamada.DocEntry</h5>
                    </div>
                    <div class="col-md-4">


                        <input hidden id="idLlamadaActividad" asp-for="Llamada.id" />
                    </div>

                </div>
            </div>

            <div class="card-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered first">
                        <thead>
                            <tr>
                                <th>No. Actividad</th>
                                <th>Tipo</th>
                                <th>Fecha Creación</th>
                                <th>Usuario Creador</th>

                                <th>Detalle</th>




                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.Actividades)
                            {
                                <tr>
                                    <td>@item.DocEntry</td>

                                    @{
                                        switch (item.TipoActividad)
                                        {
                                            case 1:
                                                {
                                                    <td> Llamada Telefónica</td>

                                                    break;
                                                }
                                            case 2:
                                                {
                                                    <td> Reunión</td>

                                                    break;
                                                }
                                            case 3:
                                                {
                                                    <td> Tarea</td>

                                                    break;
                                                }
                                            case 4:
                                                {
                                                    <td>Nota</td>

                                                    break;
                                                }
                                            case 5:
                                                {
                                                    <td> Campaña</td>

                                                    break;
                                                }
                                            case 6:
                                                {
                                                    <td> Otros</td>

                                                    break;
                                                }

                                        }
                                    }


                                    <td>

                                        @item.FechaCreacion
                                    </td>
                                    @{
                                        var cardCode = item.idLogin;
                                    }
                                    <td>@(Model.Usuarios.Where(a => a.id == cardCode).FirstOrDefault() == null ? "" : Model.Usuarios.Where(a => a.id == cardCode).FirstOrDefault().Nombre) </td>

                                    <td>@item.Detalle </td>

                                </tr>
                            }


                        </tbody>
                        <tfoot>
                            <tr>
                                <th>No. Actividad</th>
                                <th>Tipo</th>
                                <th>Fecha Creación</th>
                                <th>Usuario Creador</th>

                                <th>Detalle</th>

                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-12">
        <div class="form-group">
            <button title="PDF" type="button" class="btn btn-rounded btn-outline-danger" onclick="javascript: ImprimeEtiqueta()">PDF</button>

        </div>
    </div>
</div>